*.DS_Store
*.iml
*.xml

# for here
dev/
data/cityscapes/
data/VOC2012/
*.pth
events/
checkpoints/
viewer*/
train.log.*
debug.py
*.pth.tar
*.npy

# Data files and directories common in repo root
logs/
*.h5
results/
temp/
tmp/
test/
storage/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
arun_log/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# VS Studio Code
.vscode

# PyCharm
.idea/

# Dropbox
.dropbox.attr

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# model_convert
to_caffe/
to_kestrel/
*.tar
to_kestrel.yaml
*petreloss*.conf
experiments/cityscapes/744/ours/log/events_seg/20230415_173334/events.out.tfevents.1681580014.ip-172-31-20-160
experiments/cityscapes/744/ours/log/events_seg/20230415_181422/events.out.tfevents.1681582462.ip-172-31-20-160
experiments/cityscapes/744/ours/log/events_seg/20230415_182845/events.out.tfevents.1681583325.ip-172-31-20-160
experiments/cityscapes/744/ours/log/events_seg/20230415_183258/events.out.tfevents.1681583578.ip-172-31-20-160
experiments/cityscapes/744/ours/log/events_seg/20230415_183503/events.out.tfevents.1681583703.ip-172-31-20-160
experiments/cityscapes/744/ours/log/events_seg/20230416_000725/events.out.tfevents.1681603645.ip-172-31-20-160
experiments/cityscapes/744/ours/log/events_seg/20230416_000845/events.out.tfevents.1681603725.ip-172-31-20-160
experiments/cityscapes/744/ours/log/events_seg/20230416_001401/events.out.tfevents.1681604041.ip-172-31-20-160
